<!DOCTYPE html>
<html lang="en" class="app" xmlns:th="http://www.thymeleaf.org">
<head th:include="resources/common/common_header :: common_header">
</head>
<body class="nav-md"  style="overflow: hidden">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/index" class="site_title"><span>Mtons</span></a>
                </div>

                <div class="clearfix"></div>

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>系统菜单</h3>
                        <ul class="nav side-menu">
                            <li class="tt">
                                <a href="javaScript:void(0)" value="/admin/home.html"><i class="fa fa-home"></i> Home</a>
                            </li>

                            <li th:each="menuList:${menuList}" class="tt">
                                <a href="javaScript:void(0)" th:value="${menuList.url}" nav="1"><i th:class="${menuList.icon}"></i><span th:text="${menuList.name}"></span> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                <img src="/resources/assets/images/ava/default.png" alt="">admin
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="/account/profile"> Profile</a></li>
                                <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div>

                <div class="page-title">
                    <div class="title_left">
                        <h3>admin <small> 欢迎使用Mblog</small></h3>
                    </div>
                </div>
                <div class="clearfix">
                </div>
                <div class="row" id="viewDiv">

                </div>

                <div th:include="resources/common/common_foot :: foot"></div>

                <script>
                    $(function () {
                        $('#viewDiv').load('/admin/home.html');
                        $('.tt').on('click','a',function(e,b){
                            var href = $(this).attr('value');
                            $('#viewDiv').load(href);
                        })

                    })
                </script>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Mblog - Powered By <a href="http://mtons.com/?copyright" target="_blank">Mtons</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
    <!-- Custom Theme Scripts -->
    <script src="/resources/highcharts/highcharts.js"></script>
    <script src="/resources/highcharts/exporting.js"></script>
    <script src="/resources/highcharts/highcharts-zh_CN.js"></script>
    <script src="/resources/assets/admin/js/custom.min.js"></script>
    <script src="/resources/assets/admin/js/app.data.js"></script>
</body>
</html>
